.container {
	color: red;
	font-weight: bold;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

.container_1 {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: antiquewhite;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition: all 350ms;
}

.button:hover {
	cursor: pointer;
	transform: scale(1.5);
}

.input {
	margin-bottom: 100px;
	width: 300px;
}

.inputButton {
	width: 100%;
	margin-top: 10px;
}

.container_profile {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	width: 79.33%;
	margin-bottom: 40px;
	align-items: center;
	height: 100px;
}

.profile_img {
	width: 100px;
	height: 100px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.container_display {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 350px;
	width: 89.33%;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	margin: 10px 0 10px 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 190px;

}